body {
	background-color: rgb(32, 32, 32);
	color: rgb(192, 192, 192);
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
}
header {
	height: 100px;
	background-color: rgb(16, 16, 16);
	color: rgb(192, 192, 192);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
footer {
	display: flex;
	justify-content: space-between;
	background-color: rgb(16, 16, 16);
	color: rgb(192, 192, 192);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

a {
	color: blueviolet;
}

.indexLink {
	text-decoration: none;
	color: rgb(192, 192, 192);
}

.projectsFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.headerElement {
	display: flex;
	flex: 4;
	text-align: center;
	font-size: 250%;
	padding: 33px;
	justify-content: center;
	text-decoration: none;
	color: rgb(192, 192, 192);
}
.pfpHeaderElement {
	flex: 1;
}
.pfp {
	width: 100px;
	border-radius: 50%;
	padding-left: 1vw;
}

.hamburgerButton {
	flex: 1;
	font-size: 300%;
	text-align: right;
	padding-right: 2vw;
	color: rgb(192, 192, 192);
}

.projectButton {
	width: 30vw;
	height: 25vw;
	margin-bottom: 1vw;
	margin-top: 1vw;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 1vw;
	text-align: center;
	font-size: 2vw;
	border-color: rgb(8, 8, 8);
	border-style: solid;
	border-radius: 3vw;
	border-width: 0.5vw;
	background-color: rgb(24, 24, 24);
	color: rgb(192, 192, 192);
	flex-shrink: 1;
}

.projectImage {
	width: 30vw;
	border-radius: 20px;
}

.logo {
	height: 4vw;
	margin-top: 1vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 1vw;
}

.footerElement {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-top: 1vh;
}

.sideImages {
	flex: 1;
	justify-content: center;
	margin-left: 1vw;
	margin-right: 1vw;
}

.sideImage {
	width: 100%;
	margin-top: 1vh;
}

.pageText {
	margin-left: 2vw;
	margin-right: 1vw;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	display: flex;
	font-size: 4vw;
	margin-top: 2vh;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 2vh;
	justify-content: center;
}

.pageWrap {
	display: flex;
	flex-direction: row;
	margin-top: 1vh;
	margin-bottom: 4vh;
}

.linksToProject {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	font-size: 2vw;
}
